* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9; 
  }

.weather-details {
    background-color: rgba(255, 255, 255, 0.163);
}